#!/bin/bash
mkdir -p public/images/og/articles
{{ range . -}}
azureog --bgImg public/og-standard.png -fontPath public/FiraSans-Light.ttf -output public/og/articles/{{.id}}.png -title "{{.title}}"
{{ end }}
