#!/bin/bash
mkdir -p public/images/og/pages
{{ range . -}}
azureog --bgImg public/og-standard.png -fontPath public/FiraSans-Light.ttf -output public/og/pages/{{.id}}.png -title "{{.title}}"
{{ end }}
